header{
    font-family: Polya;
    font-size: 150px;
    text-align: center;
    padding: 100px;
    border: 0px;
    padding-top: 300px;
    padding-bottom: 300px;
    color: white;
    background-image: url(../images/1.png);
}
