@font-face {
    font-family: Nordic;
    src: url(../fonts/Nordic/NordicAlternativeRegular.ttf);
}

@font-face {
    font-family: Polya;
    src: url(../fonts/PolyaFont/POLYA.otf);
}

@font-face {
    font-family: Arenq;
    src: url(../fonts/Arenq.otf);
}

@font-face {
    font-family: Blanka;
    src: url(../fonts/BLANKA/Blanka-Regular.otf)
}

* {
    margin: 0px;
}

header{
    font-family: Blanka;
    font-size: 100px;
    text-align: center;
    padding: 100px;
    border: 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    color: white;
    background-image: url(../images/1.png);

}
div{
    background-image: url(;
    color:grey;
}
div p{

}
.coolKidhead{
    font-family: Blanka;
    text-align: center;
    color: grey;
    padding: 350px;
    padding-top: 30px;

}
