@font-face {
    font-family: Nordic;
    src: url(../fonts/Nordic/NordicAlternativeRegular.ttf);
}

@font-face {
    font-family: Polya;
    src: url(../fonts/PolyaFont/POLYA.otf)
}

body{
    font-family: Polya;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

